body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 100%
}

/*Header*/

header, footer {
	background-color: #282828;
	position: relative;

}

#menu {
	width: 20px;
	position: absolute;
	top: 15%;
	right: 16%;
}

#localisation {
	width: 3%;
	position: absolute;
	top: 22%;
	left: 12%;

}
#bretagne {
	position: absolute;
	top: 20%;
	width: 9%;
	
}

#devise {
	position: absolute;
	top: 16%;
	left: 40%;
	font-style: italic;
	color: #B2B2B2;

}


.dropdown {
	position: absolute;
    display: inline-block;
    right: 20%;
    top: 50%;
    transform: translate(0 ,-50%);
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6ACA6B; ;
    min-width: 160px;
    top: 50px;
    z-index: 1;
    padding: 1em;
}

div.dropdown:hover .dropdown-content {
	display: block;
	color: #6ACA6B;
}

/*Footer*/

img#facebook {
	position: absolute;
	margin-top:  0.5%;
	width: 0.5%;
	left: 45%;
}

img#twitter {
	position: absolute;
	margin-top: 0.7%;
	width: 1%;
	left: 43%
}

img#linkedin {
	position: absolute;
	width: 1%;
	margin-top: 0.6%;
	left: 41%;
}
img#Logo {
	width: 5%;
}

p#Quifoot, p#MentionFoot, p#Contactfoot {
	color: #B2B2B2;
	position: absolute;
	top: 30%;
	right: 30%;
}

p#MentionFoot, p#Contactfoot {

	right: 10%;
}

p#Contactfoot {

	right: 20%;
}

#Copyrights {
	color: #B2B2B2;
	position: absolute;
	left: 35%;
	top: 55%;
}

/*Index*/

form#saisie {
	background-color: #6ACA6B;
	text-align: center;
	padding: 2em;
	font-size: 130%;
}

button#recherche, button#contact {
	background-color: black;
	color: white;
}

div#slider {
	width: 80%;
	max-width: 730px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

div#slider figure {
	position: relative;
	width: 400%;
	margin: 0;
	padding: 0;
	font-size: 0;
	animation: 30s slidy infinite;
}

div#slider figure img {
	width: 25%;
	height: auto;
}

@keyframes slidy {
	0% {left: 0%; }
	20% {left: 0%; }
	25% {left: -100%; }
	45% {left: -100%; }
	50% {left: -200%; }
	70% {left: -200%; }
	75% {left: -300%; }
	95% {left: -300%; }
	100% {left: -400%; }
}

button#coeur {
	background-color: #6ACA6B;
	font-size: 130%;
	color: white;
	display: block;
	margin: auto;
	margin-top: 1em;
}

h2 {
	text-align: center;
	color: #282828;
	font-weight: bold;
}

/*recherche Global*/
th > * {
	width: 75%;
}

tr > * {
	padding: 2em;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	
}

table {
	border-collapse: collapse;
}

h5, p.description {
	color: #6ACA6B;
	opacity: 75%;

}

/*recherche precise*/

p#interesser {
	color: white;
	background-color: #6ACA6B;
	border: solid 2px black;
	text-align: center;
	font-size: 2em;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 1em;
	width: 7em;
}

* {box-sizing:border-box}


.slideshow-container { /* Slideshow container */
  	max-width: 700px;
  	position: relative;
  	margin: auto;
}


.mySlide { /* Hide the images by default */
  	display: none;
}

.prev, .next { /* Next & previous buttons */
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}


.next { /* Position the "next button" to the right */
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*contact*/
.vertical {
	border-left: 2px solid black;
  	height: 500px;
 	position: absolute;
  	left: 50%;
  	margin-left: -3px;
	top: 30%;
}

#infosperso {
	position: absolute;
	right: 30%;
	top: 30%;
}

#bordureverticale {
	height: 200px;
	padding-right: 60px;
	border-right: 1px solid black;
}


